apiVersion: v1
kind: Service
metadata:
  name: {{ include "woocommerce.fullname" . }}-mysql
  labels:
    {{- include "woocommerce.mysql.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: mysql
      protocol: TCP
      name: mysql
  selector:
    {{- include "woocommerce.mysql.selectorLabels" . | nindent 4 }}
