apiVersion: v1
kind: Service
metadata:
  name: {{ include "woocommerce.fullname" . }}-wordpress
  labels:
    {{- include "woocommerce.wordpress.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "woocommerce.wordpress.selectorLabels" . | nindent 4 }}
